html, body {
    background-color: #1c1c1c;
    font-family: 'Handlee', 'Inconsolata', monospace;
    color: #c7c7c7;
    height: 100%;
    line-height: 1.2;
    font-size: 16px;
    padding-top: 50px;
}
/* links */
a:link, a:focus, a:visited {
    color: #fbc02d;
    text-decoration: none;
    font-weight: bold;
    outline: none !important;
}
a:hover, a:active {
    color: #fff;
    text-decoration: none;
    outline: none !important;
}
/* headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: #fbc02d;
}
hr {
    border: 2px ridge #424242;
    width: 60%;
    height: 2px;
}
/* paragraphs */
p {
    margin: 0;
}
/* text box */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}
.form-control:hover {
    border: 2px solid #1c1c1c;
}
.form-control:focus {
    border: 2px solid #fbc02d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* logo */
#nav-logo:hover {
    cursor: pointer;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
/* navs */
.navbar {
    background-color: #222;
    border-bottom: 4px ridge #424242;
    height: 75px;
}
.navbar-brand > img {
    width: 50px;
    height: 50px;
    margin: 0;
}
.navbar-left, .navbar-right {
    margin: 0;
    flex-direction: row;
}
.navbar-left {
    margin-right: 150px;
}
.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    font-size: 20px;
    padding: 22px 20px 20px 20px;
}
.navbar-inverse .navbar-nav .nav-item .nav-link {
    color: #fbc02d;
    background-color: transparent;
}
.navbar-inverse .navbar-nav .nav-item .nav-link:hover,
.navbar-inverse .navbar-nav .nav-item .nav-link:focus,
.navbar-inverse .navbar-nav > .nav-item .nav-link:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav .nav-item:active .nav-link,
.navbar-inverse .navbar-nav .nav-item:active .nav-link:focus {
    color: #fbc02d;
    background-color: transparent;
}
/* jumbotron and header */
.jumbotron {
    background-color: #1c1c1c;
    padding: 10px 0 10px 0;
    margin: -25px 0 0 0;
}
#header-img {
    width: 40%;
}
#header-img:hover {
    cursor: pointer;
}
/* main */
#main-content {
    background-color: #222;
    border-top: 4px ridge #424242;
    padding: 20px 60px 160px 60px;
    text-align: center;
}
#main-content > p {
    padding: 20px 60px 20px 60px;
    background-color: #1c1c1c;
    border: 4px ridge #424242;
}
#main-content > h2 {
    padding-bottom: 15px;
}
/* footer */
#footer {
    background-color: #1c1c1c;
    border-top: 4px ridge #424242;
    font-size: 14px;
    padding: 20px 0 20px 0;
}
#left-align-text {
    text-align: left;
}
#font-size-30 {
    font-size: 30px;
    font-weight: bold;
}
#font-size-24 {
    font-size: 24px;
    font-weight: bold;
}
.grid {
    text-align: left;
    width: 80%;
    padding: 10px 0 30px 0;
    margin: auto;
    float: none;
}
#col1-grid, #col2-grid, #col3-grid, #col4-grid {
    height: 160px;
    text-align: center;
    background-color: #1c1c1c;
    border: 4px ridge #424242;
}
#col1-grid {
    padding-top: 32px;
}
#col2-grid {
    padding-top: 32px;
}
#col3-grid {
    padding-top: 12px;
}
#col4-grid {
    padding-top: 12px;
}
#col4-grid > a {
    padding: 5px;
}
#col4-grid > h3 {
    margin-bottom: 0;
}
#col4-grid > a > img {
    border: 4px solid #fbc02d;
    border-radius: 55%;
}
#col4-grid > a > img:hover {
    border-color: #fff;
}
/* admin db update */
#update-confirm {
    color: #00802b;
    font-size: 26px;
}
#update-icon {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 10%;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.update-btn {
    display: block;
    margin: 0 auto;
    border: 3px solid #fbc02d;
    background-color: #1c1c1c;
    padding: 5px;
    width: 20%;
    font-size: 24px;
}
.update-btn:hover {
    border: 3px solid #fff;
}
/* search box */
#search-box {
    background-color: #1c1c1c;
    width: 35%;
    margin: 35px auto 60px auto;
    border: 4px ridge #424242;
    padding: 10px;
}
#search-box * {
    display: inline-block;
}
#search-textbox {
    font-family: 'Inconsolata', sans-serif;
    font-size: 14px;
}
#searchedName {
    border: 2px solid #000;
    border-radius: 5px;
    outline: none !important; /* remove blue border */
    padding: 5px;
    text-align: center;
    color: #1c1c1c;
    font-weight: bold;
}
#search-img:hover {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
    cursor: pointer;
}
/* champion */
table {
    margin: 40px 0 0 0;
    background-color: #1c1c1c;
    border: 4px ridge #424242;
}
.champion-td {
    padding: 25px 0 25px 0;
}
.champion-td > p {
    margin: 10px 0 0 0;
    color: #fbc02d;
    font-size: 18px;
}
#champion-img {
    border: 2px ridge #424242;
}
#champion-img:hover {
    border: 2px ridge #fab505; /* fbc02d gold color was too bright on border */
    cursor: pointer;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
#champion-splash {
    border: 4px ridge #1c1c1c;
    border-radius: 10%;
    width: 60%;
    height: 60%;
    margin: 0 0 40px 0;
}
#champion-splash:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    cursor: pointer;
}
#championNameHeader {
    color: #fbc02d;
}
#championTitleHeader {
    color: #c7c7c7;
    font-size: 22px;
    margin: 0 0 20px 0;
}
/* champion nav tabs */
.center-pills {
    display: inline-flex;
}
.tab-item {
    font-size: 22px;
    padding: 15px;
    margin: 30px 0 10px 0;
    border: 4px ridge #424242;
    background-color: #1c1c1c;
}
.nav-pills .tab-item .tab-link.active {
    color: #fff;
}
.tab-item:hover {
    color: #fbc02d;
    background-color: #000;
}
.tab-link:hover {
    color: #fbc02d;
    background-color: #000;
}
.tab-content {
    padding: 10px 20px 10px 20px;
    text-align: left;
    background-color: #1c1c1c;
    border: 4px ridge #424242;
}
/* info */
.divInfo {
    display: flex;
    width: 100%;
}
.divInfo > div {
    flex: 1;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE */
}
.info-columns {
    width: 33.33%;
    text-align: center;
}
.info-columns > b {
    color: #fbc02d;
}
#info-col-1 {
    border-right: 4px ridge #424242;
    padding: 0 20px 0 20px;
}
#info-col-2 {
    border-right: 4px ridge #424242;
    padding: 0 20px 0 20px;
}
#info-col-3 {
    padding: 0 20px 0 20px;
}
.spanAttributeBar {
    display: inline-block;
    padding: 2px 0 2px 0;
} /* --------- fix -------- */
.spanAttributeBar > img {
    float: left;
} /* --------- fix -------- */
.spanAttributeBar > canvas {
    float: right;
}
#attackBar, #defenseBar, #magicBar, #difficultyBar {
    border: 2px ridge #424242;
    vertical-align: middle;
}
#damage-dealt {
    width: 95%;
    border: 2px ridge #424242;
    vertical-align: middle;
}
#damage-distribution {
    text-align: center;
    color: #fbc02d;
}
#damage-distribution > h4 {
    margin: 0;
}
.damage-legend {
    padding: 0;
}
#phys-square {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #992600;
}
#magic-square {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #0052cc;
}
#true-square {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #fff;
}
.legend {
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: middle;
}
/* lore */
#divLore {
    border: 4px outset #424242;
    padding: 20px 15px 15px 15px;
    margin: 5px 0 20px 0;
}
#divLore:hover {
    background-color: #000;
}
#divLore > b {
    color: #fbc02d;
    font-size: 20px;
}
#lore-quote {
    color: #fbc02d;
    font-size: 18px;
    font-weight: bold;
}
/* tips and tricks */
#divAllyTips {
    border: 4px outset #424242;
    padding: 20px 15px 25px 15px;
    margin: 20px 0 0 0;
}
#divEnemyTips {
    border: 4px outset #424242;
    padding: 20px 15px 25px 15px;
    margin: 0 0 20px 0;
}
#divAllyTips:hover {
    background-color: #000;
}
#divEnemyTips:hover {
    background-color: #000;
}
#divAllyTips > h3 {
    color: #009933;
}
#divEnemyTips > h3 {
    color: #cc2900;
}
.square-bullets {
    list-style-type: square;
}
/* spells */
.divSpell {
    border: 4px outset #424242;
    padding: 30px 15px 35px 15px;
    margin: 0 0 20px 0;
}
.divSpell:hover {
    background-color: #000;
}
.SpellImage > img {
    border: 4px ridge #1c1c1c;
}
.SpellImage > img:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.SpellInfo {
    margin: 0 0 0 100px;
}
.SpellInfo > b {
    color: #fbc02d;
}
.SpellImage {
    float: left;
}
.SpellImage > img {
    display: block;
}
#spellName {
    font-size: 24px;
}
#SpellInfoRightSide {
    float: right;
}
#SpellInfoRightSide > b {
    color: #fbc02d;
}
/* back to top button */
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 25px;
    bottom: 180px;
    background: url("../images/top-arrow2-resize.png");
}
a.back-to-top:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);

}
/* clearfix hack - stop overlap from parent div */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* modal */
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
/* stop auto scroll while modal open */
.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-content {
    background-color: #1c1c1c;
    border: 4px ridge #424242;
}
#modal-logo {
    margin-left: 85px;
}
.modal-title {
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0 0;
}
.modal-header {
    border: 0;
    margin: 0 0 -10px 0;
}
.modal-header > img {
    width: 100px;
    height: auto;
    padding: 0 0 0 0;
}
.modal-header > img:hover {
    cursor: pointer;
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
}
.modal-body {
    text-align: center;
}
.modal-body-info {
    border-top: 4px ridge #424242;
}
.modal-body > p {
    padding: 20px 0 20px 0;
}
.modal-footer {
    border-top: 4px ridge #424242;
    text-align: center;
    margin: auto;
}
.modal-footer-info {
    padding-top:25px;
    padding-bottom:20px;
}
#modal-login-pass {
    padding: 1px 0 1px 0;
}
#modal-signup-pass {
    padding: 1px 0 0 0;
}
#modal-signup-pass-confirm {
    padding: 1px 0 1px 0;
}
.modal-next {
    color: #1c1c1c;
    background-color: #fbc02d;
    border: 4px solid #1c1c1c;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 0 0 -30px 0;
    outline: none !important; /* remove blue border */
    opacity: 1;
}
#next-button {
    font-size: 20px;
}
#modal-next:hover {
    background-color: #6C0000;
    color: #fff;
    cursor: pointer;
}
.close {
    margin: 5px;
    color: #fff;
    opacity: 0.8;
    text-shadow: none;
    filter: none;
}
.close:hover,
.close:focus {
    color: #fbc02d;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
