---
---

@import "{{ site.theme }}";

body {
  color: #c7c7c7;
  background-color: #1c1c1c;
  background-image: none;
}
a {
  color: #0099ff;
}
a:hover {
  color: #fbc02d;
}
aside#sidebar {
  background-image: none;
  padding-top: 50px;
  /*width: 215px;*/
}
header {
  border-bottom: 1px solid #000;
}
header h1:hover {
  color: #fbc02d;
}
#main-content {
  /*width: 700px;*/  
}
#main-content h1 {
  color: #fff;
}
#main-content h2 {
  color: #fff;
}
.inner {
  /*width: 1050px;*/
}
.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
